<div class="oe_kanban_bottom_left text-muted">
    <span>
    <t t-out="record.name.value"/>
    <br/>
    <span t-if="record.next_action_date.value" t-attf-class="#{record.is_late.raw_value ? 'text-danger' : 'text-muted'}">
        <t t-if="record.is_late.raw_value">
        <i class="fa fa-warning"/> Late
        </t>
        <t t-if="record.rental_status.raw_value=='pickup'">
        Pickup:
        </t>
        <t t-elif="record.rental_status.raw_value=='return'">
        Return:
        </t>
    </span>
    <t t-out="record.next_action_date.value"/>
    </span>
</div>